.mobile {
    margin:         42px 0 20px 42px;
    font-family:    Arial, cursive;
    text-transform: uppercase;
}

.challenges {
    margin-left:  42px;
    margin-right: 0;
    box-shadow:   0 0 5px rgba(169, 169, 169, 0.46);
    width:        293px;
    height:       664px;
}

.box {
    margin: 0 auto;
    width:  227px;
    height: 135px;
}

.header {
    margin-left:    32px;
    margin-top:     0;
    margin-bottom:  30px;
    padding-top:    19px;
    font-family:    Verdana, cursive;
    text-transform: uppercase;
    font-size:      162%;
}

.line_1 {
    text-transform: uppercase;
    color:          whitesmoke;
    text-align:     center;
    padding-top:    40px;

}

.line_2 {
    text-align:   center;
    font-family:  Arial, cursive;
    margin-top:   13px;
    margin-right: 20px;
    color:        whitesmoke;
}

.numbers {
    font-size: 200%;
}

.avg_task_box {
    background-color: #349adc;
}

.avg_score_box {
    background-color: #ff795c;
}

.accuracy_box {
    background-color: #44bea5;
}

.quality_box {
    background-color: #33475f;
}

